html{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: "Source Sans Pro", sans-serif;
    background-color: #373e57;
    color: #ccc8db;
}

.container{
    background-color: #151728;
    display: flex;
    max-width: 1600px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}